$white: #fff;
$black: #000;

$text-subdued: #909092;
$text-label: #464649;
$surface-info-invert: #EAF3FF;
$text-info: #1A6AED;
$text-primary: #FEFEFF;
$surface-bg-invert: #FEFEFF;
$text-secondary: #5E5E60;
$text-neutral: #F2F2F3;
$surface-primary: #824FE7;
$surface-primary-shadow: #8957EF33;
$surface-primary-hover: #A277FF;
$surface-subdue: #E6E6E7;
$surface-secondary: #202022;
$surface-secondary-hover: #303032;
$surface-tertiary-hover: #F2F2F3;
$surface-tertiary-pressed: #DADADB;
$orange-400: #FFB693;
$orange-500: #FF8C51;
$purple-400: #D2BCFF;
$purple-500: #BA9AFF;
$dark-600: $surface-secondary-hover;
$surface-overlay: #46464929; 
$surface-success: #2AAF2A;
$surface-success-border: #2AAF2A66;
$surface-warning: #E87B06;
$surface-warning-border: #E87B0666;
$surface-critical: #FF401E;
$surface-critical-border: #FF401E66;
$text-error: #FF401E;
